<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>L'état des comptes sur TestRPC</h2>
    <table>
    	<thead>
	    	<tr>
	    		<th>N°</th>
	    		<th>Adresse (@)</th>
	    		<th>Sold (Eth)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<% for (var i = 0 ; i < comptes.length ; i++) { %>
    		<tr>
    			<td><%= i %></td>
    			<td id="addr_<%= i %>"><%= comptes[i].addr %></td>
    			<td id="sold_<%= i %>"><%= comptes[i].sold %></td>
    		</tr>
    		<% } %>
    	</tbody>
    </table>
    <input type="submit" id="refreshComptes" value="Actualiser" />

<br/>
	<h2>Transferer de l'argent</h2>
    <form action="/transfert" method="POST">
    	<label for="amount">Montant</label>
    	<input type="number" name="amount" id="amount" value="5"/><br />
    	<label for="from">@Expéditeur</label>
    	<input type="text" name="from" id="from" value="<%= web3.eth.accounts[0] %>"/><br/>
    	<label for="to">@Destinataire</label>
    	<input type="text" name="to" id="to" value="<%= web3.eth.accounts[1] %>"/>
    	<input type="submit" value="Transferer">
    </form>
	
<br/>

<h2>Déployer le contrat de Casino</h2>
<textarea id="contract_text" style="width:80%;height:400px;"></textarea><br />
<input type="submit" value="Deployer" id="deployed">
L'argent se pris sur le compte <%= web3.eth.accounts[0] %><br />
<label for="addrToLoad">@ du contrat existant</label>
<input type="text" name="addrToLoad" id="addrToLoad" value="0x8ee3f74f94fa50875665f7fb8c44f0c0256d599b"/>
<input type="submit" value="Charger" id="loadContract">
<br />

<h2>Casino</h2>
<p>Derniers nombres tirés : <span id="numbersPicks"></span></p>
<p>La banque a <span id="soldBanque"></span> Eth. <input type="submit" value="Actualiser" id="refreshBanque"></p>
<label for="addrContrat">@contrat</label>
<input type="text" id="addrContrat" name="addrContrat" value="0x6ac7c2d46a6b4f7b6679f871e577fc26cb90b1ad"/><br />
<label for="addrPari">@parieur</label>
<input type="text" id="addrPari" name="addrPari" value="<%= web3.eth.accounts[1] %>"/>
<label for="umountPari">Mise</label>
<input type="number" id="umountPari" name="umountPari" value="2"/>
<select id="betType">
	<option value="odd">Impaire</option>
	<option value="even">Paire</option>
</select>
<input type="submit" value="Parier" id="parier"><br />
<input type="submit" value="Tourner la roulette" id="launch">Depuis le compte <%= web3.eth.accounts[0] %>


  </body>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

	<script type="text/javascript" src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
  <script type="text/javascript">
  	var interval = 10;
	var rouletteContract;
	var roulette;

	var comptes = [];

	var greeterSource;
	var greeterCompiled;
	var greeterContract;
	var greeter;

	var g_contract;


	//Actualise le solde des comptes
  	$("#refreshComptes").click(function(e) {
		for (var i = 0 ; i < web3.eth.accounts.length ; i++) {
			$("#sold_" + i).text(web3.fromWei(web3.eth.getBalance(web3.eth.accounts[i]), "ether").toNumber());
		}
  	});

  	//Actualise le sold du contrat (de la banque)
  	$("#refreshBanque").click(function(e) {
  		$("#soldBanque").text(web3.fromWei(web3.eth.getBalance($('#addrContrat').val()), "ether").toNumber());
  	})


  	//Deploy le contrat de la textarea
  	$("#deployed").click(function(e) {
  		greeterSource = $("#contract_text").val();
		greeterCompiled = web3.eth.compile.solidity(greeterSource);

		
		greeterContract = web3.eth.contract(greeterCompiled.info.abiDefinition);

		greeter = greeterContract.new(interval, {from:web3.eth.accounts[0], value: web3.toWei(10, "ether"), data: greeterCompiled.code, gas: 4700000}, function(e, contract){
		    if(!e) {
		    	g_contract = contract;
		      	$('#addrContrat').val(g_contract.address);
		    	initJSContract();
		    }
		})
  	});

  	//Charge le contrat de l'addresse défini avec l'abi (Le JSON de l'interface)
  	$('#loadContract').click(function(e) {
  		var abi = [{"constant":false,"inputs":[],"name":"launch","outputs":[],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"","type":"uint256"}],"name":"bets","outputs":[{"name":"betType","type":"uint8"},{"name":"player","type":"address"},{"name":"number","type":"uint256"},{"name":"value","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"betType","type":"uint8"}],"name":"getPayoutForType","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"nextRoundTimestamp","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[{"name":"number","type":"uint256"}],"name":"betSingle","outputs":[],"payable":true,"type":"function"},{"constant":true,"inputs":[],"name":"lastRoundTimestamp","outputs":[{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"betEven","outputs":[],"payable":true,"type":"function"},{"constant":true,"inputs":[],"name":"getBetsCountAndValue","outputs":[{"name":"","type":"uint256"},{"name":"","type":"uint256"}],"payable":false,"type":"function"},{"constant":false,"inputs":[],"name":"betOdd","outputs":[],"payable":true,"type":"function"},{"inputs":[{"name":"interval","type":"uint256"}],"payable":true,"type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"number","type":"uint256"},{"indexed":false,"name":"nextRoundTimestamp","type":"uint256"}],"name":"Finished","type":"event"}]
  		$('#addrContrat').val($('#addrToLoad').val());
  		g_contract = web3.eth.contract(abi).at($('#addrToLoad').val());
  		initJSContract();
  	});

  	$("#parier").click(function(e) {
  		if ($("#betType").val() == "odd") {
  			console.log("Lancement du pari sur un nombre impaire...")
  			try {
  				g_contract.betOdd({ from: $("#addrPari").val(), value: web3.toWei($("#umountPari").val(), "ether") });
  			} catch(err) {
  				console.log('Une erreure dans le contrat est survenue... Vous avez peut être miser 0 !? Détails : ');
  				console.log(err);
  			}
  		} else if ($("#betType").val() == "even") {
  			console.log("Lancement du pari sur un nombre paire...")
  			try {
  				g_contract.betEven({ from: $("#addrPari").val(), value: web3.toWei($("#umountPari").val(), "ether") });
  				} catch(err) {
  				console.log('Une erreure dans le contrat est survenue... Vous avez peut être miser 0 ou la banque n\' pas assez d\'argent !? Détails : ');
  				console.log(err);
  			}
  		}
  	})

  	//On fait tourner la roue
  	$('#launch').click(function(e) {
  		console.log("Lancement de la roulette...");
  		g_contract.launch({from: web3.eth.accounts[0]});
  	})

    window.onload = function() {
    	$("#contract_text").val(contract_text);
    	web3 = new Web3(new Web3.providers.HttpProvider("http://192.100.100.96:8545"));
	 	web3.eth.getAccounts(function(err, accs) {
	    	if (err != null) {
	     		alert("There was an error fetching your accounts.");
	      	return;
	    }

	    if (accs.length == 0) {
	      alert("Couldn't get any accounts! Make sure your Ethereum client is configured correctly.");
	      return;
	    }

	  });
	}

	//Permet de vérifier si l'événement la roue à finie de tourner c'est produit
	function initJSContract() {
		if(!g_contract.address) {
	        console.log("Contract transaction send: TransactionHash: " + g_contract.transactionHash + " waiting to be mined...");
	      } else {
	        console.log("Contract mined! Address: " + g_contract.address);

	        g_contract.Finished().watch ( (err, response) => {  //set up listener for the AuctionClosed Event
		        //once the event has been detected, take actions as desired
		        console.log("Le nombre tiré est : " + response.args.number.toNumber());
		        $('#numbersPicks').html($('#numbersPicks').html() + response.args.number.toNumber() + ' <span style="color:red;">|</span> ');
		    });

	    }
	}

var contract_text = "pragma solidity ^0.4.6;\n \
  \n \
    contract Roulette {\n \
      \n \
      uint public lastRoundTimestamp;\n \
      uint public nextRoundTimestamp;\n \
      uint _interval;\n \
      address _creator;\n \
      \n \
      enum BetType { Single, Odd, Even }\n \
      struct Bet {\n \
      	BetType betType;\n \
      	address player;\n \
      	uint number;\n \
      	uint value;\n \
      }\n \
  \n \
      Bet[] public bets;\n \
      \n \
      event Finished(uint number, uint nextRoundTimestamp);\n \
      \n \
      function Roulette(uint interval) payable {\n \
      	_interval = interval;\n \
      	_creator = msg.sender;\n \
      	nextRoundTimestamp = now + _interval;\n \
      }\n \
 \n \
    modifier transactionMustContainEther() {\n \
 	    if (msg.value == 0)  {\n \
             throw;\n \
        }\n \
 	    _;\n \
    }\n \
    \n \
    modifier bankMustBeAbleToPayForBetType(BetType betType) {\n \
    	uint necessaryBalance = 0;\n \
    	for (uint i = 0; i < bets.length; i++) {\n \
    		necessaryBalance += getPayoutForType(bets[i].betType) * bets[i].value;\n \
    	}\n \
    	necessaryBalance += getPayoutForType(betType) * msg.value;\n \
    	if (necessaryBalance > this.balance) throw;\n \
    	_;\n \
    }\n \
  \n \
      function betSingle(uint number) payable transactionMustContainEther() bankMustBeAbleToPayForBetType(BetType.Single) {\n \
      	if (number > 36) throw;\n \
      	bets.push(Bet({\n \
      		betType: BetType.Single,\n \
      		player: msg.sender,\n \
      		number: number,\n \
      		value: msg.value\n \
      	}));\n \
      }\n \
      \n \
      function betEven() public payable transactionMustContainEther() bankMustBeAbleToPayForBetType(BetType.Even) {\n \
      	bets.push(Bet({\n \
      		betType: BetType.Even,\n \
      		player: msg.sender,\n \
      		number: 0,\n \
      		value: msg.value\n \
      	}));\n \
      }\n \
  \n \
      function betOdd() public payable transactionMustContainEther() bankMustBeAbleToPayForBetType(BetType.Odd) {\n \
      	bets.push(Bet({\n \
      		betType: BetType.Odd,\n \
      		player: msg.sender,\n \
      		number: 0,\n \
      		value: msg.value\n \
      	}));\n \
      }\n \
      \n \
      function getBetsCountAndValue() public constant returns(uint, uint) {\n \
      	uint value = 0;\n \
      	for (uint i = 0; i < bets.length; i++) {\n \
      		value += bets[i].value;\n \
      	}\n \
      	return (bets.length, value);\n \
      }\n \
      \n \
      function launch() public {\n \
      	if (now < nextRoundTimestamp) throw;\n \
      \n \
      	uint number = uint(block.blockhash(block.number - 1)) % 37;\n \
      	\n \
      	for (uint i = 0; i < bets.length; i++) {\n \
      		bool won = false;\n \
      		uint payout = 0;\n \
      		if (bets[i].betType == BetType.Single) {\n \
      			if (bets[i].number == number) {\n \
      				won = true;\n \
      			}\n \
      		} else if (bets[i].betType == BetType.Even) {\n \
      			if (number > 0 && number % 2 == 0) {\n \
      				won = true;\n \
      			}\n \
      		} else if (bets[i].betType == BetType.Odd) {\n \
      			if (number > 0 && number % 2 == 1) {\n \
      				won = true;\n \
      			}\n \
      		}\n \
                  if (won) {\n \
  			if(!bets[i].player.send(bets[i].value * getPayoutForType(bets[i].betType))) throw;\n \
  		}\n \
      	}\n \
      \n \
      	uint thisRoundTimestamp = nextRoundTimestamp;\n \
      	nextRoundTimestamp = thisRoundTimestamp + _interval;\n \
      	lastRoundTimestamp = thisRoundTimestamp;\n \
      \n \
      	bets.length = 0;\n \
      \n \
      	Finished(number, nextRoundTimestamp);\n \
      }\n \
      \n \
      function getPayoutForType(BetType betType) constant returns(uint) {\n \
      	if (betType == BetType.Single) return 35;\n \
      	if (betType == BetType.Even || betType == BetType.Odd) return 2;\n \
      	return 0;\n \
      }\n \
  }";

</script>

</html>
