<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>L'état des comptes sur TestRPC</h2>
    <table>
    	<thead>
	    	<tr>
	    		<th>Adresse</th>
	    		<th>Sold (Eth)</th>
    		</tr>
    	</thead>
    	<tbody>
    		<% for (var i = 0 ; i < comptes.length ; i++) { %>
    		<tr>
    			<td><%= comptes[i].addr %></td>
    			<td><%= comptes[i].sold %></td>
    		</tr>
    		<% } %>
    	</tbody>
    </table>

<br/>

    <form action="/send.html" method="POST">
    	<label for="amount">Montant</label>
    	<input type="number" name="amount" id="amount" value="5"/><br />
    	<label for="from">Expéditeur</label>
    	<input type="text" name="from" id="from" value="<%= web3.eth.accounts[0] %>"/><br/>
    	<label for="to">Destinataire</label>
    	<input type="text" name="to" id="to" value="<%= web3.eth.accounts[1] %>"/>
    	<input type="submit" value="Transferer">
    </form>
    
  </body>

</html>
