body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ececec
}

a {
  color: #00B7FF;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 5px 10px;
}
